<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DRK Flugdienst | Für Transporteure</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <div class="company">
      <h1><a href="/" id="company">DRK Flugdienst</a></h1>
    </div>
    <div class="navi">
      <ul>
        <% if (user) { %>
          <li>Willkommen, <%= user.name + " " + user.surname %></li>
          <li><a href="/logout">Abmelden</a></li>
        <% } else { %>
          <li><a href="/login">Einloggen</a></li>
          <li><a href="/signup" class="btn">Account erstellen</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
  