<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>DRK Flugdienst</h2>
    <h3>Statusverwaltung</h3>
    <a href="/status" class="btn">Zur Statusmeldung</a>
  </div>
</header>


<%- include('partials/footer'); -%>